#type_nick,
#type_ip,
#type_sid,
#type_password {
    display: none;
}

.type_nick,
.type_ip,
.type_sid,
.type_password {
    display: none;
}

[data-type="nick"],
[data-type="ip"],
[data-type="sid"],
[data-type="password"] {
    display: none;
}
