#form_purchase {
    .discount {
        color: $danger;
        font-size: $size-7;
    }

    .purchase-button-wrapper {
        text-align: center;
        margin-top: 2em;
    }

    .purchase-button {
        font-size: 14px;
    }

    &.module-charge-wallet {
        #charge_table {
            tfoot tr td {
                text-align: center;
            }
        }
    }

    &.module-extra-flags {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    &.module-mybb-extra-groups {
        margin-top: 20px;
        text-align: center;

        .inputs {
            display: inline-block;
            text-align: left;
        }
    }
}
