html {
    height: 100%;
}

body {
    height: 100%;
    text-align: center;
    background-color: #eee;
}

h1 {
    padding: 1rem;
    box-shadow: 0 0 10px #000;
    background-color: #81bef7;
}

h2 {
    margin: 0;
}

.window {
    display: inline-block;
    margin-top: 50px;
    text-align: left;
    border: 1px solid #222;
    box-shadow: 0 0 10px #000;
    background-color: #ccc;
    min-width: 300px;
    width: 50%;
}

.window.success {
    border: 3px solid greenyellow;
}

.window.danger {
    border: 3px solid #d62226;
}

.warnings {
    margin: 8px;
    padding: 6px;
    border: 2px solid #a51b1b;
    color: #c81717;
}

#form_update {
    margin: 2rem 1rem;
}

#form_update .column {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#form_update .data {
    margin-bottom: 2rem;
}

.warning {
    display: inline-block;
    margin-top: 32px;
    padding: 12px;
    border: 1px solid #ff0000;
    box-shadow: 0 0 10px #ff0000;
}

.notify {
    margin: 0 8px 8px 8px;
    padding: 12px;
}

.notify.backup {
    border: 2px solid #f9ff00;
    background: rgba(255, 255, 0, 0.1);
    color: #df5500;
    text-shadow: 1px 1px 1px #ffaa25;
}

.notify.apache2 {
    border: 2px solid #f9ff00;
    background: rgba(255, 255, 0, 0.1);
}

.notify.attention {
    border: 2px solid #ff0000;
    background: rgba(255, 0, 0, 0.1);
    color: #3a3a3a;
}

.centered {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.updated {
    position: fixed;
    z-index: 101;
    top: 40%;
    transform: translate(0, -40%);
    width: 100%;
    max-height: 100%;

    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.ok {
    color: green;
}

.bad {
    color: red;
}

.ok,
.bad {
    font-weight: bold;
    text-transform: uppercase;
}
