body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #EEE;
}

.window {
	display: inline-block;
	min-width: 600px;
	margin-top: 100px;
	text-align: left;
	border: 1px solid #222;
	box-shadow: 0 0 10px #000;
	background-color: #CCC;
}

h1 {
	margin: 0;
	margin-bottom: 12px;
	padding: 6px;
	box-shadow: 0 0 10px #000;
	background-color: #81BEF7;
}

.content {
	padding: 12px;
}

.content [type=submit] {
	width: 100%;
}

.content > .left {
	float: left;
	overflow: auto;
	margin-right: 30px;
}

.content > .right {
	width: auto;
	overflow: auto;
}

.warnings {
	padding: 6px;
	margin-bottom: 12px;
	border: 2px solid #A51B1B;
	color: #C81717;
}

h2 {
	margin: 0;
}

.data {
	padding: 16px;
}

.label {
	float: left;
	overflow: hidden;
	margin-right: 16px;
}

.content > .left .label {
	min-width: 80px;
}

.content > .right .label {
	min-width: 160px;
}

.field {
	width: auto;
	overflow: hidden;
}

.ok {
	color: green;
}

.bad {
	color: red;
}

.ok, .bad {
	font-weight: bold;
	text-transform: uppercase;
}

.centered {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto auto;
}

.loader {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.3);
}

.loader img {
	z-index: 101;
	max-height: 20%;
}

.form_warning {
	color: #FF2B00;
	font-size: 16px;
}

.installed {
	position: fixed;
	z-index: 101;
	top: 40%;
	transform: translate(0, -40%);
	width: 100%;
	max-height: 100%;

	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
