.idea
/build
/confidential/*
!/confidential/.htaccess
/data/cache/*
!/data/cache/.gitkeep
/data/transfers/*
!/data/transfers/.gitkeep
/data/install_error
/data/install_progress
/errors/*
!/errors/.htaccess
/node_modules
/vendor
