.idea
/node_modules
/vendor
/build

/confidential/*
!/confidential/.htaccess

/data/cache/*
!/data/cache/.gitkeep
/data/logs/*
!/data/logs/.gitkeep
/data/transfers/*
!/data/transfers/.gitkeep
/data/setup_error
/data/setup_progress
test.http
