<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/plain" charset="UTF-8"/>
  <title>Aktualizacja - Sklep SMS</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="jscripts/update.js?version={__VERSION__}"></script>
  <script type="text/javascript" src="../jscripts/infobox.js?version={__VERSION__}"></script>
  <script type="text/javascript" src="../jscripts/stocks.js?version={__VERSION__}"></script>
  <script type="text/javascript" src="../js.php?script=language&version={__VERSION__}"></script>
  <link href="styles/update.css?version={__VERSION__}" rel="stylesheet"/>
  <link href="../styles/infobox.css?version={__VERSION__}" rel="stylesheet"/>
</head>
<body>
<div class="window {$class}">
  <h1>Aktualizator Sklepu</h1>

  <div class="notify backup">
    <div style="font-weight: bold;">Pamiętaj, aby przed wykonaniem aktualizacji zadbać o backup <i>( kopię zapasową
      )</i></div>
    <ul>
      <li>Bazy danych sklepu</li>
      <li>Plików znajdujących się na FTP serwerów gier</li>
      <li>Plików znajdujących się na FTP strony WWW</li>
    </ul>
  </div>
  <form id="form_update" class="content">
    <div class="update_info">
      {$update_info}
    </div>
    <br style="clear: both"/>

    <div style="text-align: center;">
      <input type="submit" value="Aktualizuj"/>
    </div>
  </form>
</div>
<br/><br/>
</body>
</html>
