<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/plain" charset="UTF-8" />
        <title>Aktualizacja - Sklep SMS</title>
        <script
            type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        ></script>
        <script type="text/javascript" src="{$url->versioned('build/js/install.js')}"></script>
        <script
            type="text/javascript"
            src="{$url->versioned('install/jscripts/update.js')}"
        ></script>
        <script type="text/javascript" src="{$url->versioned('build/oldjs/loader.js')}"></script>
        <script type="text/javascript" src="{$url->versioned('build/oldjs/infobox.js')}"></script>
        <script type="text/javascript" src="{$url->versioned('build/oldjs/stocks.js')}"></script>
        <script type="text/javascript" src="{$url->versioned('js.php?script=language')}"></script>

        <link href="{$url->versioned('build/css/install.css')}" rel="stylesheet" />
        <link href="{$url->versioned('install/styles/update.css')}" rel="stylesheet" />
        <link href="{$url->versioned('build/oldcss/loader.css')}" rel="stylesheet" />
        <link href="{$url->versioned('build/oldcss/infobox.css')}" rel="stylesheet" />
    </head>

    <body>
        <div class="window {$class}">
            <h1 class="title is-4">Aktualizator Sklepu</h1>

            {$notifyHttpServer}

            <div class="notify backup">
                <div style="font-weight: bold;">
                    Pamiętaj, aby przed wykonaniem aktualizacji zadbać o backup
                    <i>( kopię zapasową )</i>
                </div>
                <ul>
                    <li>Bazy danych sklepu</li>
                    <li>Plików znajdujących się na FTP serwerów gier</li>
                    <li>Plików znajdujących się na FTP strony WWW</li>
                </ul>
            </div>
            <form id="form_update">
                <div class="update_info">
                    {$filesModulesStatus}
                </div>
                <br style="clear: both" />

                <div style="text-align: center;">
                    <input type="submit" value="Aktualizuj" class="button is-fullwidth" />
                </div>
            </form>
        </div>
        <br /><br />
    </body>
</html>
