<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/plain" charset="UTF-8"/>
  <title>Aktualizacja - Sklep SMS</title>
  <script type="text/javascript"
          src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="{$url->versioned('install/jscripts/update.js')}"></script>
  <script type="text/javascript" src="{$url->versioned('jscripts/infobox.js')}"></script>
  <script type="text/javascript" src="{$url->versioned('jscripts/stocks.js')}"></script>
  <script type="text/javascript" src="{$url->versioned('js.php?script=language')}"></script>
  <link href="{$url->versioned('install/styles/update.css')}" rel="stylesheet"/>
  <link href="{$url->versioned('styles/infobox.css')}" rel="stylesheet"/>
</head>
<body>
<div class="window {$class}">
  <h1>Aktualizator Sklepu</h1>

  {$notifyHttpServer}

  <div class="notify backup">
    <div style="font-weight: bold;">
      Pamiętaj, aby przed wykonaniem aktualizacji zadbać o backup <i>( kopię zapasową )</i>
    </div>
    <ul>
      <li>Bazy danych sklepu</li>
      <li>Plików znajdujących się na FTP serwerów gier</li>
      <li>Plików znajdujących się na FTP strony WWW</li>
    </ul>
  </div>
  <form id="form_update" class="content">
    <div class="update_info">
      {$filesModulesStatus}
    </div>
    <br style="clear: both"/>

    <div style="text-align: center;">
      <input type="submit" value="Aktualizuj"/>
    </div>
  </form>
</div>
<br/><br/>
</body>
</html>
