<ul>
    {$acpButton}
    <li>
        <a href="{{ $url->to('/page/profile') }}">{$lang->t('profile')}</a>
    </li>
    {$chargeWalletButton}
    <li>
        <a href="{{ $url->to('/page/user_own_services') }}">{$lang->t('my_services')}</a>
    </li>
    <li>
        <a href="{{ $url->to('/page/service_take_over') }}">{$lang->t('service_takeover')}</a>
    </li>
    <li>
        <a href="{{ $url->to('/page/change_password') }}">{$lang->t('change_password')}</a>
    </li>
    <li style="margin-top: 8px"><span id="logout">{$lang->t('logout')}</span></li>
</ul>
