<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <a href="{{ url('/') }}">
                        <img
                            src="https://sklep-sms.pl/images/logo_simple.svg"
                            alt="{{ __('shop_sms') }}"
                        />
                    </a>
                </div>
                <div class="f-placement"></div>
            </div>

            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>{{ __('languages') }}</h3>
                    </div>
                    <ul class="link-list">
                        <li>
                            <a id="language_polish" class="language-item">Polski</a>
                        </li>
                        <li>
                            <a id="language_english" class="language-item">English</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>{{ __('pages') }}</h3>
                    </div>
                    <ul class="link-list">
                        <li>
                            <a href="{{ url('/page/services') }}">
                                {{ __('services') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('/page/regulations') }}">
                                {{ __('regulations') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('/page/contact') }}">
                                {{ __('contact') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>{{ __('contact') }}</h3>
                    </div>
                    <ul class="link-list">
                        <li>
                            <span class="icon">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <a>
                                {{ $contact }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
