<title>{{ $pageTitle }} - {{ __('shop_sms') }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />

<script
    type="text/javascript"
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
></script>
<script type="text/javascript" src="{{ $url->versioned('build/js/vendors.js') }}"></script>
<script type="text/javascript" src="{{ $url->versioned('build/js/shop.js') }}"></script>
<script type="text/javascript" src="{{ $url->versioned('lang.js') }}"></script>
<script type="text/javascript">
    var f = "{$footer}";
    var language = "{{ $lang->getCurrentLanguage() }}";
    var baseUrl = "{{ $url->to('/') }}";
    var currentPage = "{{ $currentPageId }}";
</script>
{$scripts}

<link href="{{ $url->versioned('build/css/shop_fusion.css') }}" rel="stylesheet" />
<link rel="shortcut icon" href="{{ $url->to('favicon.png') }}" />
{$styles}
