<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand" style="justify-content: space-between">
        <a class="navbar-item" href="{{ url('/') }}">
            <img
                src="https://sklep-sms.pl/images/logo_simple.svg"
                alt="{{ __('shop_sms') }}"
                width="112"
                height="28"
            />
        </a>

        <a role="button" class="navbar-burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-end">
            {!! $userButtons !!}
        </div>
    </div>
</nav>
