.infobox {
    position: fixed;
    z-index: 200;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    min-width: 400px;
    margin: 15px auto;
    text-align: center;
    word-wrap: break-word;
}

.infobox:hover {
    opacity: 0.5;
    cursor: pointer;
}
