.navbar-brand {
  justify-content: space-between;
}

.navbar-burger {
  margin-left: 0;
}

.layout {
  display: flex;
  height: calc(100vh - #{$navbar-height});
}

.overlay {
  position: fixed;
  top: $navbar-height;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100vh - #{$navbar-height});
  width: 100vw;
  animation: fadeIn .6s;

  &:not(.is-active) {
    display: none;
  }
}

.sidebar-menu {
  @keyframes slideRight {
    from {
      left: -350px;
    }
  }

  flex: 0 1 350px;
  padding: 1rem;
  background: $grey-dark;
  overflow: auto;

  &.is-active {
    position: fixed;
    top: $navbar-height;
    left: 0;
    z-index: 2;
    height: calc(100vh - #{$navbar-height});
    display: block !important;
    box-shadow: 2px 0 2px rgba(0,0,0,0.3);
    animation: slideRight .6s;
  }

  li {
    a {
      color: $white-ter;
    }
  }
}

.main-content {
  flex: 1;
  background: $grey-lighter;
  padding: 1rem;
  overflow: auto;
}

.acp-info {
  text-align: center;
  padding-top: 1rem;

  .title {
    color: $white-bis;
  }

  .subtitle {
    color: $white-ter;
  }
}