body {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.layout {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    animation: fadeIn 0.6s;

    &:not(.is-active) {
        display: none;
    }
}

.sidebar-menu {
    @keyframes slideRight {
        from {
            left: -$sidebar-width;
        }
    }

    flex: 0 1 $sidebar-width;
    padding: 1rem;
    background: $scheme-main-ter;
    overflow: auto;
    border-right: 1px solid $scheme-main-bis;
    z-index: 6;
    color: $scheme-invert;

    &.is-active {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        display: block !important;
        animation: slideRight 0.6s;
        box-shadow: 2px 0 4px rgba(0, 0, 0, 0.3);
    }

    li {
        a {
            color: $scheme-invert;
        }
    }
}

.main-content {
    flex: 1;
    background: $background;
    padding: 1rem;
    overflow: auto;
}

.logo-box {
    text-align: center;
    margin-bottom: 1rem;

    img {
        height: 50px;
    }
}

.user-box {
    text-align: center;
}

.acp-box {
    text-align: center;
    padding-top: 1rem;

    .title {
        color: $scheme-invert;
    }

    .subtitle {
        color: $scheme-invert-bis;
    }
}
