$amxx-color: #024079;
$sm-color: #f69e1d;

.shopsms_license_purchase,
.shopsms_user_edit {
    .engine {
        color: $white;

        &:not(.is-active) {
            border: none;
        }

        &.amxx {
            background: rgba($amxx-color, 0.8);

            &:hover {
                background: $amxx-color;
            }

            &.is-active {
                background: $amxx-color;
            }
        }

        &.sm {
            background: rgba($sm-color, 0.8);

            &:hover {
                background: $sm-color;
            }

            &.is-active {
                background: $sm-color;
            }
        }

        &.is-active:after {
            content: "\f00c";
            margin-left: 0.5rem;
            color: $success;
        }
    }
}

.button {
    &.regenerate-token {
        background: #b71c1c;
    }

    &.prolong_license {
        background: #5b9931;
        font-weight: bold;
    }
}

#cost {
    margin-top: 1rem;
    font-size: $size-3;
    font-weight: $weight-bold;

    .currency {
        font-size: $size-6;
        font-weight: $weight-normal;
    }

    .reload {
        color: $primary;
        cursor: pointer;
        font-size: $size-6;
        font-weight: $weight-normal;
    }
}
