#form_purchase {
    margin-top: 20px;
    text-align: center;
}

#form_purchase .inputs {
    display: inline-block;
    text-align: left;
}

#cost_wrapper {
    width: 100%;
    margin: 20px 0 40px 0;
    text-align: center;
    display: none;
}

#cost_wrapper div {
    display: inline-block;
    text-align: left;
}
