<html>
    <head>
        <meta http-equiv="Content-Type" content="text/plain" charset="UTF-8" />
        <title>Brak ENV - Sklep SMS</title>
    </head>
    <body>
        <h1>Przenieś dane dostępowe bazy danych</h1>
        <ol>
            <li>Utwórz plik <b>confidential/.env</b></li>
            <li>
                Dodaj do niego poniższą zawartość odpowiednio podmieniając wartości (skorzystaj z
                tych zawartych w pliku <b>includes/config.php</b>)<br />
                <textarea rows="5" cols="40" readonly>
DB_HOST=localhost
DB_DATABASE=sklep_sms
DB_USERNAME=root
DB_PASSWORD=secure
	  </textarea
                >
            </li>
            <li>Usuń plik <b>includes/config.php</b></li>
            <li>Odśwież stronę</li>
        </ol>
    </body>
</html>
