<div class="field is-horizontal">
    <div class="field-label">
        <label>{{ __('platform') }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control">{{ $platform }}</p>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label">
        <label>{{ __('ip') }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <p class="control">{{ $address }}</p>
        </div>
    </div>
</div>
