@import "~@fortawesome/fontawesome-free/css/all.css";
@import "partials/all";
@import "partials/global";
@import "partials/loader";
@import "partials/infobox";

h3 {
    color: $grey-lighter;
    padding: 2px 5px;
    box-shadow: 0 0 1px #fff;
    margin: 12px 2px 5px 2px;
}

h4 {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin: 12px 0;
    font-size: 20px;
    text-transform: uppercase;
    border-top: 1px inset #5f5f5f !important;
    border-bottom: 1px inset #5f5f5f !important;
    padding: 4px;
}

.header {
    height: 100px;
    background: $black-ter;
    padding: 0 20px;

    table {
        width: 100%;
        height: 100%;
    }

    td {
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

    .hint {
        margin-top: 8px;
    }
}

.form_logout {
    display: inline-block;
}

.sidebar,
.custom_content {
    padding: 10px;
    height: calc(100% - 100px);
}

.sidebar {
    float: left;
    min-width: 280px;
    background: $grey-darker;
    white-space: nowrap;
    margin: 0;
    padding: 0 0 20px 0;
    overflow: auto;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: $grey-lighter;
        text-shadow: 2px 2px 2px black;
        text-decoration: none !important;

        li {
            margin: 2px;
            padding: 3px;
            background: $grey-dark;

            &:hover {
                box-shadow: inset 0 0 4px #c7c7c7;
            }
        }
    }
}

.custom_content {
    width: auto;
    overflow: auto;
    background: $grey-lighter;
}

.table_structure {
    [headers="id"] {
        width: 4%;
    }

    [headers="platform"] {
        width: 30%;
    }

    [headers="date"] {
        white-space: nowrap;
    }

    .summary tr td {
        border-top: 1px dashed #222;
    }
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgba(67, 67, 67, 1) 0%, rgba(204, 204, 204, 1) 92%);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 1rem;
    padding: 0.5rem;

    .title {
        color: #fff;
        text-shadow: 1px 1px 10px #000;
        margin: 0;
    }
}

#charge_amount {
    display: inline-block;
}

.one_line {
    word-break: break-all;
    height: 1.1em;
    overflow: hidden;
}

.one_line:hover {
    height: auto;
}

.highlighted {
    background: #f5f6ce;
}

#form_settings_edit {
    margin: 24px;

    .field-body {
        flex-grow: 3;
    }

    .select select,
    .input,
    .textarea {
        color: #000;
        background-color: #aaa;

        @include placeholder {
            color: $grey-dark;
        }
    }
}

#form_admin_login {
    td {
        padding: 5px 2px;
    }

    .action-buttons {
        padding-top: 1rem;
    }
}

.form_update {
    display: inline-block;
    padding: 6px;
    min-width: 30%;
    font-family: monospace;
    line-height: 1.6;

    a {
        color: #adff00;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
    }

    img {
        vertical-align: middle;
    }

    .version_block {
        display: inline-block;
        padding: 6px;
    }

    .info {
        margin: 5px 15px;
    }
}

.search {
    display: inline-block;
    position: relative;
    vertical-align: top;

    .search_button {
        border-left: 1px solid #898989;
    }
}
