<html>
    <head>
        <meta http-equiv="Content-Type" content="text/plain" charset="UTF-8" />
        <title>Instalacja - Sklep SMS</title>
        <script
            type="text/javascript"
            src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        ></script>
        <script type="text/javascript" src="{$url->versioned('build/js/install.js')}"></script>
        <script type="text/javascript" src="{$url->versioned('js.php?script=language')}"></script>

        <link href="{$url->versioned('build/css/install_full.css')}" rel="stylesheet" />
    </head>
    <body>
        <div class="window">
            <h1 class="title is-4">Instalator Sklepu SMS</h1>

            {$notifyHttpServer}

            <form id="form_install" class="columns is-multiline">
                <div class="column is-half">
                    <h2 class="title is-5">Dane do bazy danych</h2>
                    <div class="data">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="db_host">Host</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="db_host"
                                            name="db_host"
                                            type="text"
                                            class="input"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="db_port">Port</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="db_port"
                                            name="db_port"
                                            type="number"
                                            value="3306"
                                            class="input"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="db_user">Użytkownik</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="db_user"
                                            name="db_user"
                                            class="input"
                                            type="text"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="db_password">Hasło</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="db_password"
                                            name="db_password"
                                            class="input"
                                            type="password"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="db_db">Nazwa bazy</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input id="db_db" name="db_db" class="input" type="text" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-5">Dane Licencji</h2>
                    <div class="data">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="license_token">Token</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="license_token"
                                            name="license_token"
                                            class="input"
                                            type="text"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="title is-5">Dane Administratora</h2>
                    <div class="data">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="admin_username">Login</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="admin_username"
                                            name="admin_username"
                                            class="input"
                                            type="text"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label for="admin_password">Hasło</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input
                                            id="admin_password"
                                            name="admin_password"
                                            class="input"
                                            type="password"
                                        />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column is-half">
                    <h2 class="title is-5">Uprawnienia do zapisu</h2>
                    <div class="data">{$filesPrivileges}</div>

                    <h2 class="title is-5">Moduły na serwerze</h2>
                    <div class="data">{$serverModules}</div>
                </div>

                <div class="column is-full has-text-centered">
                    <input type="submit" value="Instaluj" class="button is-fullwidth" />
                </div>
            </form>
        </div>
    </body>
</html>
