@import "~@fortawesome/fontawesome-free/css/all.min.css";

$scheme-main: hsl(0, 0%, 14%);
$scheme-main-bis: hsl(0, 0%, 21%);
$scheme-main-ter: hsl(0, 0%, 29%);

$scheme-invert: hsl(0, 0%, 96%);
$scheme-invert-bis: hsl(0, 0%, 93%);
$scheme-invert-ter: hsl(0, 0%, 86%);

$background: $scheme-invert-ter;
$body-background-color: $background;

$menu-label-color: $scheme-invert-ter;

// Sidebar
$sidebar-width: 300px;

@import "src/stylesheets/general/variables";
@import "src/stylesheets/general/vendors";
@import "src/stylesheets/general/global";
@import "src/stylesheets/general/partials/animations";

@import "./partials/login";
@import "./partials/layout";
@import "./partials/server";

h3 {
    color: $grey-lighter;
    padding: 2px 5px;
    box-shadow: 0 0 1px #fff;
    margin: 12px 2px 5px 2px;
}

h4 {
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    margin: 12px 0;
    font-size: 20px;
    text-transform: uppercase;
    border-top: 1px inset #5f5f5f !important;
    border-bottom: 1px inset #5f5f5f !important;
    padding: 4px;
}

.header {
    height: 100px;
    background: $black-ter;
    padding: 0 20px;

    table {
        width: 100%;
        height: 100%;
    }

    td {
        vertical-align: middle;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

    .hint {
        margin-top: 8px;
    }
}

.form_logout {
    display: inline-block;
}

.table-structure {
    [headers="id"] {
        white-space: nowrap;
        max-width: 200px;
    }

    [headers="platform"] {
        max-width: 250px;
    }

    [headers="ip"] {
        max-width: 100px;
    }

    [headers="date"] {
        white-space: nowrap;
    }

    [headers="price"] {
        white-space: nowrap;
    }

    .table-container {
        padding-bottom: 150px;
    }

    .summary tr td {
        border-top: 1px dashed #222;
    }
}

.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, rgba(67, 67, 67, 1) 0%, rgba(204, 204, 204, 1) 92%);
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;

    .title {
        color: #fff;
        text-shadow: 1px 1px 10px #000;
        margin: 0;
    }

    .navbar-burger {
        color: $white;
        margin-left: 0;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
}

#charge_amount {
    display: inline-block;
}

.one_line {
    word-break: break-all;
    height: 1.1em;
    overflow: hidden;
}

.one_line:hover {
    height: auto;
}

.highlighted {
    background: #f5f6ce;
}

#form_settings_edit {
    .field-body {
        flex-grow: 3;
    }

    .select select,
    .input,
    .textarea {
        color: #000;
        background-color: #aaa;

        @include placeholder {
            color: $grey-dark;
        }
    }
}

.form_update {
    display: inline-block;
    padding: 6px;
    min-width: 30%;
    font-family: monospace;
    line-height: 1.6;

    a {
        color: #adff00;
        font-weight: bold;
        text-shadow: 1px 1px 1px #000;
    }

    img {
        vertical-align: middle;
    }

    .version_block {
        display: inline-block;
        padding: 6px;
    }
}

.search {
    display: inline-block;
    position: relative;
    vertical-align: top;

    .search_button {
        border-left: 1px solid #898989;
    }
}

.bricks {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;

    .card {
        background: $white-ter;
        min-width: 200px;
        min-height: 100px;
        font-size: 1.5rem;
        margin-right: 1rem;
    }
}

.dropdown-content {
    border: 1px solid darken($dropdown-content-background-color, 20%);
}

.text-muted {
    font-size: 0.9rem;
    color: lighten($scheme-main-ter, 15%);
}

.info-title {
    font-weight: 700;
    margin-right: 0.5rem;

    &:after {
        content: ":";
    }
}
