<div class="column is-half">
    <h4 class="section-title">{{ __('license') }}</h4>
    <div class="field is-horizontal">
        <div class="field-label is-small">
            <label for="license_token">{{ __('token') }}</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input
                        id="license_token"
                        name="license_token"
                        class="input is-small"
                        type="text"
                        maxlength="256"
                        placeholder="{{ __('change_token_placeholder') }}"
                    />
                </p>
            </div>
        </div>
    </div>
</div>
