<div id="cost_box" class="is-hidden">
    <div>
        <div id="cost_transfer" class="price-row">
            <div class="price-label">
                <label class="label">{{ __('transfer_price') }}</label>
            </div>
            <div class="price-value">
                <span class="price"></span>
                <sup class="discount"></sup>
            </div>
        </div>

        <div id="cost_sms" class="price-row">
            <div class="price-label">
                <label class="label">{{ __('sms_price') }}</label>
            </div>
            <div class="price-value">
                <span class="price"></span>
                <sup class="discount"></sup>
            </div>
        </div>

        <div id="cost_direct_billing" class="price-row">
            <div class="price-label">
                <label class="label">{{ __('direct_billing_price') }}</label>
            </div>
            <div class="price-value">
                <span class="price"></span>
                <sup class="discount"></sup>
            </div>
        </div>
    </div>
</div>
