#form_purchase ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#cost_wrapper {
    width: 100%;
    margin: 50px 0;
    text-align: center;
    display: none;
}

#cost_wrapper div {
    display: inline-block;
    text-align: left;
}
