.shopsms_license_prolong_purchase .column_bottom {
    margin-top: 24px;
    padding: 12px;
    border: 1px inset #5f5f5f !important;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.shopsms_license_prolong_purchase .piece {
    margin-top: 24px;
}

.shopsms_license_prolong_purchase .header1 {
    margin-bottom: 12px;
    font-size: 16px;
    text-shadow: 1px 1px 1px #000;
}

.shopsms_license_prolong_purchase #cost_reload {
    vertical-align: top;
    margin-right: 12px;
    cursor: pointer;
}
