.payment-type-wrapper {
    display: inline-block;
    vertical-align: top;
}

.payment-type {
    padding: 12px;
    display: block;
    margin-right: 20px;
    margin-top: 10px;

    box-shadow: 0 0 5px #b2b2b2;
}

.payment-type.header {
    box-shadow: 0 0 5px #fff;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
    text-transform: uppercase;
}

.payment-type.sms {
    background: rgba(255, 0, 0, 0.4);
}

.payment-type.sms.header {
    background: rgba(255, 0, 0, 0.6);
}

.payment-type.transfer {
    background: rgba(0, 255, 0, 0.4);
}

.payment-type.transfer.header {
    background: rgba(0, 255, 0, 0.6);
}

.payment-type.wallet {
    background: rgba(0, 0, 255, 0.4);
}

.payment-type.wallet.header {
    background: rgba(0, 0, 255, 0.6);
}

.payment-type.service-code {
    background: rgba(113, 0, 255, 0.4);
}

.payment-type.service-code.header {
    background: rgba(113, 0, 255, 0.6);
}

#payment .order_details {
    line-height: 1.3;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #f00;
    color: #fff;
    padding: 1rem 0.75rem 0.75rem;
}

#payment .order_details legend {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000000;
    font-size: 14px;
    color: #ede100;
}

#sms_details {
    display: none;
}
