#form_service_take_over {
    margin-top: 30px;
}

#form_service_take_over .take_over {
    display: none;
}

#form_service_take_over .take_over input {
    margin-top: 12px;
    text-transform: uppercase;
}
