<a href="{{ $url->to('/page/register') }}">
    <div id="register_redirect_button">{$lang->t('register_vert')}</div>
</a>
<table>
    <tr>
        <td class="td1">
            <form id="form_login">
                <div class="field">
                    <label for="login_username">{$lang->t('username')}</label>
                    <div class="control">
                        <input
                            type="text"
                            id="login_username"
                            name="username"
                            class="input is-small"
                        />
                    </div>
                </div>

                <div class="field">
                    <label for="login_password">{$lang->t('password')}</label>
                    <div class="control">
                        <input
                            type="password"
                            id="login_password"
                            name="password"
                            class="input is-small"
                        />
                    </div>
                </div>

                <a href="{{ $url->to('/page/forgotten_password') }}">
                    {$lang->t('forgot_password')}
                </a>

                <div class="submit_wrapper">
                    <input type="submit" value="{$lang->t('sign_in')}" class="button" />
                </div>
                <input type="hidden" id="form_login_reload_content" value="1" />
            </form>
        </td>
        <td id="loginarea_roll_button">{$lang->t('login_vert')}</td>
    </tr>
</table>
