html {
    height: 100%;
}

body {
    color: black;
    font-size: 16px;
    height: 100%;
}

td {
    vertical-align: top;
    padding: 0;
}

strong {
    color: inherit;
}

/* INPUT */

/*select,*/
/*input[type="text"],*/
/*input[type="password"],*/
/*textarea {*/
/*    background-color: #4e4c4c;*/
/*    color: #fff;*/
/*    box-shadow: inset 1px 1px 0 black;*/
/*    border: none;*/
/*    padding: 4px 6px;*/
/*    margin: 1px;*/
/*}*/

/*select:disabled,*/
/*input[type="text"]:disabled,*/
/*input[type="password"]:disabled,*/
/*textarea:disabled {*/
/*    background-color: #323232;*/
/*}*/

/*select:focus,*/
/*input[type="text"]:focus,*/
/*input[type="password"]:focus,*/
/*textarea:focus {*/
/*    box-shadow: 0 0 2px #1f9acf;*/
/*    border: 1px solid #1f9acf;*/
/*}*/

/* BUTTON */

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    display: inline-flex;
    justify-content: flex-start;
    padding: calc(0.375em - 1px) calc(0.625em - 1px);
    position: relative;
}

.button {
    background-color: #4a4a4a;
    border-color: transparent;
    color: whitesmoke;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.375em - 1px) 0.75em;
    text-align: center;
    white-space: nowrap;
    outline: none;
}

.button:hover {
    background-color: #444444;
    border-color: transparent;
    color: whitesmoke;
}

.button:focus {
    border-color: transparent;
    color: whitesmoke;
}

.button:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(74, 74, 74, 0.25);
}

.button:active,
.button.is-active {
    background-color: #3d3d3d;
    border-color: transparent;
    color: whitesmoke;
}

.button[disabled],
fieldset[disabled] .button {
    background-color: #4a4a4a;
    border-color: transparent;
    box-shadow: none;
}

.button.is-success {
    background-color: #5b9931;
    border-color: transparent;
    color: #fff;
}

.button.is-success:hover {
    background-color: #558f2e;
    border-color: transparent;
    color: #fff;
}

.button.is-success:focus {
    border-color: transparent;
    color: #fff;
}

.button.is-success:focus:not(:active) {
    box-shadow: 0 0 0 0.125em rgba(91, 153, 49, 0.25);
}

.button.is-success:active {
    background-color: #50862b;
    border-color: transparent;
    color: #fff;
}

.button.is-success[disabled],
fieldset[disabled] .button.is-success {
    background-color: #5b9931;
    border-color: transparent;
    box-shadow: none;
}

/* OTHER */

a {
    cursor: pointer;
    color: #147abb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr,
.line {
    border: 1px inset #5f5f5f !important;
    padding: 0 !important;
}

.center {
    text-align: center;
}

.vcenter {
    vertical-align: middle;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.fright {
    float: right;
}

.centered {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.w100 {
    width: 100%;
}

.display_none {
    display: none;
}

.display_tfoot {
    display: table-footer-group !important;
}

.clear {
    clear: both;
}

.hint {
    color: #aaa;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
}

/* Div ładowania i akcji */
.loader,
.action_box_wraper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.3);
}

.loader img {
    z-index: 101;
    max-height: 20%;
}

.action_box_wraper2 {
    position: fixed;
    z-index: 101;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

.action_box {
    position: relative;
    display: inline-block;
    text-align: left;
    border: 2px solid #222;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px #000;
    min-width: 200px;
    margin-top: 20px;
    color: #fff;
}

.action_box .exit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2px;
    color: #ff0000;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.action_box .exit:hover {
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
}

.action_box .h2 {
    padding: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid #346bc0;
    font-size: 17px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.action_box > table {
    border-spacing: 10px;
    width: 100%;
}

.action_box table td {
    color: #fff;
    padding: 0;
}

.action_box td:nth-child(2) {
    color: #ccc;
}

.form_warning {
    color: #ff2b00;
    font-size: 16px;
    text-shadow: 1px 1px 1px #000;
}

/* Opisy usług */
.short_description,
.service_main_info {
    margin-bottom: 6px;
    padding: 1em;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #000;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

/* Cegiełka w dowolnym miejscu */
.brick {
    padding: 8px;
    margin: 12px 6px;
    box-shadow: 0 0 10px #000;
    line-height: 1.4;
    color: #bbb;
}

/* Okno wyświetlające różne informacje */
.window_info {
    background: rgba(0, 0, 0, 0.95);
    border: 2px solid #000;
    box-shadow: 0 0 20px #000;
    border-radius: 5px;
    color: #ccc;
    font-size: 18px;

    padding: 18px;
}

.window_info .exit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 6px;
    color: #ff0000;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    font-size: 26px;
}

.window_info .exit:hover {
    color: #fff;
    text-shadow: 0 0 10px #ff0000;
}

/*.window_info */
.description_title {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.window_info .description_content {
    overflow: auto;
    height: calc(100% - 100px);
}

.button.edit_row {
    background: #f7d358;
    color: #212121;
}

[id^="edit_row_"],
.edit_row,
[id^="delete_row_"],
.delete_row {
    cursor: pointer;
}

.column_left {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.column_right {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.table_form {
    display: table;
}

.table_form .row {
    display: table-row;
}

.table_form .row .cell {
    display: table-cell;
    padding: 4px 0;
}

.table_form .row .cell:nth-child(1) {
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
}

input[name="email"] {
    width: 200px;
}

.clickable {
    cursor: pointer;
}
